* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#navbar {
  background-color: #ff9f4c;
  overflow: hidden;
  position: sticky;
}

#navbar a {
  float: left;
  display: block;
  background-color: #ff9f4c;
  color: white;
  text-decoration: none;
  font-size: 18px;
  width: 33.3%;
  padding: 20px 0px;
  text-align: center;
}

#navbar a:hover {
  background-color: white;
  color: #ff9f4c;
}

.showcase {
  width: 960px;
  height: 540px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  text-align: center;
}

.image-container {
  /*width of single image x amount of images*/
  width: 3840px;
  height: 1080px;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
}

.slide-image {
  float: left;
  margin: 0;
  padding: 0;
  max-width: 960px;
  max-height: 540px;
}

.slide-image.active {
  margin: 100px;
}

@media (max-width: 400px) {
  #navbar a {
    float: none;
    display: block;
    background-color: #ff9f4c;
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
  }
}




