body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  background: #ff9f4c;
  overflow: hidden;
  position: sticky;
  top: 0;
}


.header a {
  display: block;
  float: left;
  background: #ff9f4c;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}

.header a:hover {
  background: white;
  color: #ff9f4c;
}
